{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}{% trans "Categories" context "Category list page title" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block menu_categories_class %}active{% endblock %}

{% block header_menu %}
  {% if root %}
    {% if root.parent %}
      {% url 'dashboard:category-list' root_pk=root.parent.pk as url %}
    {% else %}
      {% url 'dashboard:category-list' as url %}
    {% endif %}
      {% include "dashboard/includes/_back-link.html" with url=url %}
    {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block header_extra %}
  <li >
    <a class="" href="{% if root %}{% url 'dashboard:category-add' root_pk=root.pk %}{% else %}{% url 'dashboard:category-add' %}{% endif %}"><i class="icon-plus3"></i>
     Add category
    </a>
  </li>
  
  {% if root %}
  <li >
    <a href="#modal_instance" data-title="Delete Category, with {{ root.name }}%" data-warning="" data-href="{% url 'dashboard:category-edit' root_pk=root.pk %}"
    class="modal-trigger"><i class="icon-pencil7 position-left" data-popup="tooltip" tite='Edit product' data-placement="bottom"  data-original-title="Edit me"></i>Edit category
    </a>
  </li>
  <li >
    <a href="#modal_instance" data-title="Delete Category, with {{ root.name }}%" data-warning="" data-href="{% url 'dashboard:category-delete' pk=root.pk %}"
    class="modal-trigger"><i class="icon-trash position-left" data-popup="tooltip"  data-placement="bottom"  data-original-title="Delete me"></i>Remove category
    </a>
  </li>  
    
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
 
    {% if path %}
      <li>
        <a href="{% url 'dashboard:category-list' %}">
          {% trans "Categories" context "Dashboard categories list" %}
        </a>
      </li>
    {% else %}
      <li class="active">
        <span>
          {% trans "Categories" context "Dashboard categories list" %}
        </span>
      </li>
    {% endif %}
    {% if path %}
      <li >
        <a href="{% url 'dashboard:category-list' %}">
         Back
        </a>
      </li>
      {% for node in path %}
        {% if forloop.last %}
          <li title="{{ node.name }}">
            <span class="breadcrumbs--ellipsed-item">
              {{ node.name }}
            </span>
          </li>
        {% else %}
          <li class="hide-on-med-and-down">
            <a title="{{ node.name }}" href="{% url 'dashboard:category-list' root_pk=node.pk %}" class="breadcrumbs--ellipsed-item">
              {{ node.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}

{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  {% if categories %}
    <ul class="collection list">
      {% for node in categories %}
        <li class="collection-item list-item">
          <a class="list-item-name" href="{% url "dashboard:category-list" root_pk=node.pk %}">
            {{ node.name }}
            <p class="list-item-desc">
              <span>
                {% if node.description %}
                  {{ node.description }}
                {% else %}
                  &nbsp;
                {% endif %}
              </span>
            </p>
            {% if node.hidden %}
              <span class="list-item-icon">
                <svg data-src="{% static "dashboard/images/visibility_off.svg" %}" width="20" height="20" />
              </span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="not-found">
      {% if root %}
        <p class="grey-text">
          {% trans "No subcategories." context "Empty Category list message" %}
        </p>
      {% else %}
        <p class="grey-text">
          {% trans "No categories." context "Empty Category list message" %}
        </p>
      {% endif %}
    </div>
  {% endif %}
  <!-- include action modal instance -->
{% include "dashboard/includes/_modal.html"  %}
{% endblock %}
{% block custom_js %}

<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
{% endblock %}
