.modal-contentsdf {
  .row {
    margin: {
      left: -.75rem;
      right: -.75rem;
    }
  }
}

#base-modaldgf {
  @media only screen and (min-width: 1367px) {
    width: 40%;
  }
}

#modal-product-classsdf {
  max-width: 300px;
}
